.header {
  color: white;
  padding: 10px 15px;
}


.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 38.4px;
  letter-spacing: 0.5px;
}

.navList {
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navItem {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  cursor: pointer;
  transition: 0.3s ease;
}

.navItem:hover {
  color: #baa60e;
}